body{
font-family:Helvetica; 
margin: 0; padding: 0;
background-color:azure;
}
header,footer{ padding: 10px; text-align: center;
font-family: Arial;
background-color: cadetblue; color:white;
 }

 h1{
font-family: Arial;
text-align: center;  color: white;

 }

 .php{
background-color: rgb(48, 88, 90);
padding: 10px; border: 1px solid; color:cadetblue;
    text-align: center;
 }
 .video-container {
    max-width: 100%;
    aspect-ratio: 16 / 9;
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;

 }

 h4{
 margin-left: 20px;
}
.kepek img { margin: 10px; border: 1px solid ; color: cadetblue; }